
{% extends 'layout.html' %}
{%load static%}
<title>
    {% block title %}
    Productos
    {% endblock %}
</title>
{% block content %}
<h1 class="productos"> PRODUCTOS</h1>
    <ol class="products"> 
        <p>
            Zapatos deportivos
        </p> 
        <p>
            Camisetas y playeras
        </p>
        <p>
            Pantalones y leggings
        </p>
        <p>
            Chaquetas y abrigos
        </p>
        <p>
            Sudaderas y sweaters
        </p>
        <p>
            Gorras y sombreros
        </p>
        <p>
            Bolsas y mochilas
        </p>
        <p>
            Calcetines y medias
        </p>
        <p>
            Ropa interior
        </p>
        <p>
            Accesorios como cinturones y bufandas 
        </p>
    </ol>
<br>


{% endblock %}