{% extends 'layout.html' %}
{%load static%}
<title>
    {% block title %}
    QuienesSomos
    {% endblock %}
</title>
{% block content %}
<div class="container">
    <div class="box">
        <h2>Quienes Somos</h2>
        <p>En Root+Co, nos dedicamos a ofrecer moda de alta calidad y estilo innovador para hombres, mujeres y niños. Nos enorgullecemos de fusionar la comodidad, la calidad y el diseño en cada una de nuestras prendas, creando así una experiencia de vestuario que refleja la individualidad y la autenticidad de nuestros clientes.</p>
    </div>
    
    <div class="box">
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión en Root+Co es simple pero poderosa: inspirar confianza y empoderamiento a través de la moda. Creemos en la importancia de vestirse con prendas que no solo se vean bien, sino que también hagan que te sientas bien. Nos esforzamos por ofrecer una amplia gama de opciones de moda que se adapten a todos los estilos de vida y personalidades.</p>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Nuestro Compromiso</h2>
        <p>En Root+Co, estamos comprometidos con la satisfacción del cliente y con proporcionar una experiencia de compra excepcional en cada interacción. Desde la calidad de nuestros productos hasta la atención al cliente, nos esforzamos por superar las expectativas en todo momento.</p>
    </div>

    <div class="box">
        <h2>Nuestros Valores</h2>
        <ul>
            <li>Calidad: Nos comprometemos a ofrecer productos de alta calidad que superen las expectativas de nuestros clientes en términos de durabilidad, confort y estilo.</li>
            <li>Innovación: Estamos constantemente buscando nuevas formas de innovar en el diseño y la fabricación de nuestras prendas, manteniéndonos al tanto de las últimas tendencias y tecnologías en la industria de la moda.</li>
            <li>Sostenibilidad: Nos preocupamos por el impacto ambiental de nuestra producción y nos esforzamos por adoptar prácticas sostenibles en todo nuestro proceso de fabricación, desde la selección de materiales hasta la distribución de productos.</li>
            <li>Diversidad e Inclusión: Celebramos la diversidad en todas sus formas y nos esforzamos por crear un ambiente inclusivo donde cada persona se sienta valorada y respetada.</li>
        </ul>
    </div>
</div>


{% endblock %}