@keyframes difuminado {
0% {
    text-shadow: 0 0 15px rgb(251, 0, 0);
}
25% {
    text-shadow: 0 0 15px rgb(34, 255, 0);
}
50% {
    text-shadow: 0 0 15px rgb(1, 255, 221);
}
75% {
    text-shadow: 0 0 15px rgb(4, 0, 255);
}
100% {
    text-shadow: 0 0 15px rgb(238, 0, 255);
}
}
@keyframes BGcolorchanging-5colors {
0%{
    border-color: #f60101;
}
20%{
    border-color: #f69001;
}
40%{
    border-color: #eef601;
}
60%{
    border-color: #22f601;
}
80%{
    border-color: #3201f6;
}
100%{
    border-color: #58008f;
}
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,Arial, Helvetica;
    text-decoration: none;
}

/* formulario */
h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #4b4b4b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 36px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/* formulario */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b6d9c3;
}

header{
    width: 1212px;
    height: 140px;
    background-color: #37383b;
    margin:0px auto;
}

.logotipo h1{
    display: block;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #2ba977;
    animation: difuminado 4s infinite alternate;
}
.logotipo img{
    display: block;
    width: 75px;
    float: left;
    margin-top: 20px;
}

.logotipo{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

nav{
    width: 1250px;
    height: 40px;
    background-color: #1b1e1f ;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float:left;
}

nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}

nav ul li a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto 70px auto;
}

.izq{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.der{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno{
    display: block;
    width: 1210px;
    height: 10px;
    background:#2b2f30;
    float: left;
}
#content{
    width: 1212px;
    min-height: 930px;
    /*margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;  (Otra forma de ajustar) */
    margin: 40px auto 20px auto;
    padding: 40px ;
    background-color: #1b1e1f;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #fafafa;
}
.container h2{
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

.box {
    background: #37383b;
    width: 90%;
    min-height: 300px;
    padding: 20px;
    border: 5px solid #dddd;
    margin-top: 30px;
    flex-basis: 45%;
    border: 5px solid #a007f9;
    animation: BGcolorchanging-5colors 8s linear infinite alternate both;
    box-sizing: border-box;
    border-radius: 15px;
}
.box ul,li, p{
    /* margin-left: 40px; */
    padding: 10px;
    line-height: 20px;
    color: #fafafa;
}
.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
    font-size: 20px;
}
p,h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box h1,h2,h3{
    animation: difuminado 3s infinite alternate;
    color: #0bffe7;
}

.lista ul li{
    list-style: none;
    animation: difuminado 3s infinite alternate;
    color: #ffffff;
}